.container{
  background-color: #fcf9ee;
  position: relative;
}

::ng-deep .mat-tab-labels{
  justify-content: space-evenly;
}

::ng-deep .mat-tab-label .mat-tab-label-content{
  font-size: 18px;
  font-weight: 400;
  color: black;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  background-color: black;
  height: 3px;
}
.back-btn{
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 100;
  @media screen and (max-width:440px) {
    background-color: transparent;
    position: relative;
    top: 10px;
    left: 20px;
    margin-bottom: 12px;
    z-index: 100;
  }
}