/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(197, 230, 96, 0.902);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: wheat;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: bisque;
}


@media screen and (max-width:450px) {
  h1{
    font-size: 18px;
  }
  p{
    font-family: Poppins;
    font-size: 12px;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}