.container{
  background-color: #fcf9ee;
}
app-nav-bar{
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;

}
.hero{
  display: flex;
  flex-direction: row;
  height: 88vh;
  // max-height: 90rem;
  // min-height: 60rem;
  @media screen and (max-width:440px) {
  height: 60vh;
  }
}
.header-section{
  display: flex;
  flex-direction: row;
}


.text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 60px;
  h3{
    line-height: 40px;
    letter-spacing: 1.5px;
    font-size: 1.6rem;
    margin-left: 10px;
  }
  button{
    border-radius: 12px !important;
    margin-left: 12px;
  }

  @media screen and (max-width:440px) {
    justify-content: center;
    gap: 30px;
    h3{
      font-size: 20px;
    }
    }
}

.img{
 width: 50vw;
 @media screen and (max-width:440px) {
  display: none;
  }
}

.about-title{
  padding-top: 1.7rem;
  padding-left: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    line-height: 1.11765;
    letter-spacing: -.75px;
  }
}

.about{
  padding: 20px 60px;
  h1{
    letter-spacing: .4px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 45px;
  }
  @media screen and (max-width:440px) {
    padding: 10px 20px;
    h1{
      font-size: 18px;
      line-height: 35px;
    }
    }
}

.top-products{
  .text{
    padding: 27px 0px 15px 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    line-height: 1.11765;
    letter-spacing: -.75px;
  }
}

.product-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  button{
    border-radius: 12px;
    font-size: 18px;
  }

  .product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 30px;
    @media screen and (max-width:440px) {
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: 1fr 1fr ;
      }
    .product-card{
      max-width: 250px;
      border-radius: 0px;
      // background-color: #fcf9ee;
      transition: box-shadow background-color .5s;
      ::ng-deep .mat-card-header .mat-card-header-text{
        margin: 0;
      }
      @media screen and (max-width:440px) {
        max-width: 120px;
        height: 200px;
        padding: 10px;
        }
      mat-card-title{
        font-family: 'poppins',sans-serif;
        font-size: 16px;
        @media screen and (max-width:440px) {
          font-size: 12px;
          }
      }

      h3{
        font-family: 'poppins',sans-serif;
        @media screen and (max-width:440px) {
          font-size: 10px;
          }
      }

    }

    .product-card:hover{
      cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #fcf9ee;
    @media screen and (max-width:440px) {
      background-color: white;
      }
    }
  }
  .product-img{
    width: 250px;
    height: 250px;
    border-radius:12px;
    @media screen and (max-width:440px) {
      max-width: 100px;
      height: 100px;
      }
  }
}

.form-section{
  display: flex;
  padding-bottom: 30px;
  padding-top: 50px;
  h1{
    font-size: 34px;
    font-family: 'poppins',sans-serif;
    letter-spacing: -.4px;
    margin: 10px 0 10px 10px;
  }

  app-form{
    width: 65%;
  }

  @media screen and (max-width:440px) {
    flex-direction: column;
    justify-content: center;
    h1{
      font-size: 24px;
      // margin: auto;
    }
    app-form{
      width: 90%;
      align-items: center;
      margin:auto;
    }
    }
}
.left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  .svg-container{
    border-radius: 14px;
    padding-top: 10px;
    width: 80%;
    text-align: center;
    background-color: #25D366;
    @media screen and (max-width:440px) {
      width: 82%;
      margin-right: 25px;
      margin-bottom: 20px;
    }
  }

  .svg-container:hover{
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
}
.svg{
    width: 60px;
    height: 60px;
}