/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Poppins:wght@200;300;400;600&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container{
  // background: linear-gradient(90deg, rgba(218,152,95,1) 0%, rgba(222,226,176,1) 29%, rgba(181,228,106,1) 56%, rgba(197, 230, 96, 0.902) 77%);
  font-family: Poppins;
  background: linear-gradient(90deg, rgba(219,195,133,1) 0%, rgba(222,226,176,1) 48%, rgba(181,228,106,1) 70%, rgba(197,230,94,0.9476832969515931) 90%);

}

