<div class="form-container">
  <form action="https://formsubmit.co/1e6f69f6cf2538bcb5b3d1db47f137cb" method="POST" class="form">
    <input type="hidden" name="_template" value="box" >
    <input type="text" name="name" class="form-control" placeholder="Full Name*" required class="input">
    <input type="email" name="email" class="form-control" placeholder="Email Address*" required class="input">
    <textarea placeholder="Let us know your questions here*" class="form-control" name="message" rows="10" required class="input"></textarea>
    <button type="submit" class="submit-button">Send message</button>
  </form>
</div>
